/* animationName: 'outToCenter' */
.bc-wrapper[data-bc-animation="outToCenter"] {
  .bc-button {
    &:before, &:after {
      content: "";
      transition: all .4s ease-in-out;
    }
  }
  &[data-bc-type="radio"] {
    .bc-button {
      &:before {
        border-radius: 40px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
  &[data-bc-type="checkbox"] {
    .bc-button {
      &:before, &:after {
        background-color: #f00;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 2px;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
  &.bc-selected {
    &[data-bc-type="radio"] {
      .bc-button {
        &:before {
          background-color: #f00;
          height: 50%;
          left: 25%;
          top: 25%;
          width: 50%;
        }
      }
    }
    &[data-bc-type="checkbox"] {
      .bc-button {
        &:before, &:after {
          opacity: 1;
        }
        &:before {
          height: 30%;
          left: 21%;
          top: 49%;
          transform: rotate(-18deg);
        }
        &:after {
          height: 70%;
          left: 57%;
          top: 17%;
          transform: rotate(47deg);
        }
      }
    }
  }
}
