@import 'outToCenter';
@import 'noMoreBorder';
.bc {
  &-wrapper {
    display: inline-block;
    padding: 5px;
    * {
      box-sizing: border-box;
      cursor: pointer;
    }
  }
  &-label {
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px 0 0;

  }
  &-button {
    border: 1px solid #333333;
    box-shadow: 0px 0px 1px 0px rgba(51, 51, 51, 1);
    display: inline-block;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-indent: -9999px;
    transition: all .2s ease-in-out;
    width: 40px;
    .bc-wrapper[data-bc-type="radio"] & {
      border-radius: 40px;
      &:after {
        border-radius: 40px;
      }
    }
    .bc-selected & {
      box-shadow: none;
      text-indent: 0;
    }
  }
}